<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>Firebrand</title>

	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" href="/css/style.css">

	<script src="/js/vendors/modernizr-2.0.6.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.7.1.min.js"><\/script>')</script>
    <script src="/js/vendors/ember-latest.min.js"></script>
    <script src="/js/vendors/ember-rest.js"></script>
    <script src="/js/app.js"></script>
    <script type="text/x-handlebars" data-template-name="list-template">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
      {{#each contacts}}
        {{view App.ShowContactView contactBinding="this"}}
      {{/each}}
      {{#if isNewVisible}}
        <tr>
          <td>*</td>
          <td>
            {{view App.NewContactView}}
          </td>
        </tr>
      {{/if}}
      </tbody>
    </table>
    <div class="commands">
      <a href="#" {{action "showNew"}}>New Contact</a>
      <a href="#" {{action "refreshListing"}}>Refresh Listing</a>
    </div>
    </script>
    <script type="text/x-handlebars" data-template-name="show-template">
    <td>{{contact.id}}</td>
    <td class="data">
      {{#if isEditing}}
        {{view App.EditContactView}}
      {{else}}
        {{contact.fullName}}
      {{/if}}
      <div class="commands">
        {{#unless isEditing}}
          <a href="#" {{action "showEdit"}}>Edit</a>
          <a href="#" {{action "destroyRecord"}}>Remove</a>
        {{/unless}}
      </div>
    </td>
    </script>
    <script type="text/x-handlebars" data-template-name="edit-template">
    {{#with contact}}
      {{view Ember.TextField valueBinding="first_name" placeholder="First name"}}
      {{view Ember.TextField valueBinding="last_name"  placeholder="Last name"}}
      {{#if id}}
        {{submitButton "Update"}}
      {{else}}
        {{submitButton "Create"}}
      {{/if}}
    {{/with}}
    <a href="#" {{action "cancelForm"}}>Cancel</a>
    </script>
    <!-- end scripts-->
</head>
<body>
<div id="container">
	<header><h1>Firebrand</h1></header>
	<div id="main" role="main">[% content %]</div>
	<footer>Copyright &copy; 2012 &ndash; Chris Prather </footer>
</div>
</body>
</html>
