[% WRAPPER common/page.tt2 %]
[% USE JSON ( pretty => 1 ) %]

<h2>Contacts</h2>

<script type="text/x-handlebars">
  {{ view App.ListContactsView }}
</script>

<script type="text/javascript">
  $(function() {
    App.contactsController.findAll();
  });
</script>

[% END %]